* {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

h2, h3 {
    margin: 0;
}

.text-dark {
    color: #403F3D;
}

.text-accent {
    color: #B0907A;
}

.text-light {
    color: #E1D4C9;
}

.heading-1 {
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
}

.heading-2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
}

.heading-3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 125%;
}

.medium {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.caption {
    font-size: 10px;
    font-weight: 600;
    line-height: 140%;
}

.link-and-button {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
}

.container-section {
    max-width: 1360px;
    width: 100%;
    /* height: 644px; */
   
}

.bgc-body {
    background-color: #E1D4C9;
}


.bgc-light {
    background-color: #C1B6AD;
}

.bgc-dark {
    background-color: #665F55;
}

.hero, .favorite, .about {
    display: flex;
    justify-content: center;
    width: 100%;
}

.favorite-title span, .about span, .mobile-app span, .offer-footer-title span {
    display: inline-block;
    transform: skewX(-10deg);
}