body, html {
  margin: 0;
}

body {
  background-color: #E1D4C9;
  margin: 0 auto;
  /* height: fit-content; */
  width: 100%;
}

a, button {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.app {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
  box-sizing:border-box;
}

@media (max-width: 1439px){
  .app {
    padding: 0 40px;
  }
}

@media (max-width: 768px){
  .app {
    overflow-x: hidden;
  }
}

@media (max-width: 710px){
  .app {
    padding: 0 16px;
  }
}

