.preview-card {
    display: flex;
    flex-direction: column;
    height: 506px;
    width: 310px;
    border: 1px solid #C1B6AD;
    box-sizing:border-box;
    border-radius: 40px;
}

.screen-card-block {
   
}

.img-card-block {
    /* object-fit: cover; */
     border-radius: 40px;
}

.content-card-block {
     display: flex;
    flex-direction: column;
    /* gap: 36px; */
    padding: 20px;
    height: 196px;


    justify-content: space-between;
}

.text-content-card-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 270px;;
}

.preview-card-description {
    margin: 0;
}

.preview-card-price {
    align-self: flex-start;
}

@media(max-width: 768px){
    .preview-card:nth-child(n+5){
        display: none;
    }
}