.controls {
    display: flex;
    flex-direction: row;
    gap: 12px;
    list-style-type: none;
    align-self: center;
    padding: 0;
    margin: 0;
}

.controller {
    width: 40px;
    height: 4px;
    border-radius: 100px;
    position: relative; 
    background-color: #C1B6AD;
}

.controller.controller-active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: #665F55;

  animation: fillProgress 5s linear forwards;
  animation-play-state: running;
}

.slider-container:hover .controller.controller-active::after {
  animation-play-state: paused;
}

@keyframes fillProgress {
  from { width: 0%; }
  to { width: 100%; }
}

