.product-block {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  
}
.product-image-box {
    width: 100px;
    height: 100px;
}

.product-image {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.product-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
  
}

.product-extras {
   margin: 0;
}



.product-price {
    width: 69px;
}