.container-header {
  max-width: 1360px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  flex-direction: row;
  max-width: 1360px;
  width: 100%;
  justify-content: center;
  height: inherit;
}

.navigation-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  transition: transform 0.4s ease;
}

.button-burger {
  display: none;
}

.button-burger-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: fit-content;
}

.button-burger-text.open {
  position: relative;
  gap: 0px;
}

.button-burger-text.open .line-1,
.button-burger-text.open .line-2 {
  position: absolute;
}

.button-burger-text.open .line-1 {
  transform: rotate(45deg);
}

.button-burger-text.open .line-2 {
  transform: rotate(-45deg);
}

.button-burger .burger-line {
  display: inline-block;
  height: 1.5px;
  width: 16px;
  background-color: #403f3d;
  transition: transform 0.3s ease;
}

.user-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-right: 32px;
}

@media (max-width: 768px) {
  .header-menu {
    justify-content: space-between;
  }

  .navigation-box {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;

    flex: 1;
    height: 100%;
    background-color: #e1d4c9;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(100%);
    gap: 85px;
    z-index: 1000;
    transition: transform 0.3s ease;
    overflow-y: hidden;
    padding: 65px 0;
  }

  .navigation-box.open {
    transform: translateX(0);
    justify-content: flex-start;
    gap: 30px;
    padding: 0;
  }

  .button-burger {
    display: block;
  }

  .user-buttons-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 30px;
  }

  button:hover,
  a:hover {
    border: none;
  }
}
