.modal-cart {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    width: 100%;
    height: 100vh;
    background-color: #0000007b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.succesfull-message {
    text-align: center;
}