.modal-card{
    max-width: 800px;
    width: 100%;
    height: fit-content;
    background-color: #E1D4C9;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    position: relative;
    /* padding: 16px; */
}

.content-container {
    max-width: 768px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0px;
    padding: 16px;
}

.content-container .img-card-block {
    width: 310px;
    height: 310px;
    border-radius: 40px;
     object-fit: cover;      
  object-position: center; 
  display: block;  
}

.content-container .content-card-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
    padding: 0;
    padding-left: 20px;
   
}

.content-card-block .text-content-card-block {
    width: 100%;
}

.content-container .content-card-block .preview-card-description{
    display: inline-block;
    width: 100%;
}

.content-container .card-offer-tabs {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.content-container .card-offer-tabs .tab-item {
    gap: 8px;
    box-sizing: border-box;
}

.content-container .card-offer-tabs .tab-icon {
    text-align: center;
    line-height: 31px;
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.alert {
    display: flex;
    gap: 12px;
    align-items: center;
    border-top: 1px solid #C1B6AD;
    padding: 12px 0;
   
}

.alert-icon {
    display: inline-block;
    background-image: url('../../../../../../public/menu/info-empty.svg');
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    align-self: flex-start
}

.alert-text {
    width: fit-content;
    margin: 0;
}

.text-type {
    margin: 0;
}
.type-of-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content-container .type-of-buttons .card-offer-tabs{
    margin: 0;
    flex-wrap: wrap;
}


@media (max-width: 820px){
    .modal-card{
        max-width: 688px;
        width: 100%;
    }
}

@media (max-width: 695px){
    .modal-card {
        max-width: 342px;
        width: 100%;
    }

    .modal-card .content-container {
        padding: 16px;
    }

    .modal-card .content-container .content-card-block {
        padding: 0;
    }
   .modal-card .content-container .img-card-block {
     display: none;
   }
}