.contacts-info {
    max-width: 530px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 186px;
}

@media (max-width: 768px){
    .contacts-info {
        max-width: 100%;
        align-self: flex-start;
    }
}