.main {
  flex: 1;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.loader-text {
  margin: 0;
}

.loader-images {
  display: flex;
  flex-direction: row;
  height: fit-content;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.loader-image {
  width: 20px;
  height: 20px;
  background-image: url('../../public/loader/coffee-bean.svg');
  background-size: contain;
  background-repeat: no-repeat;
  animation: rotateBean 1s linear infinite;
}

.loader {
  height: 100%;
}

.overlay {
  min-width: 320px;
  width: 50%;
  height: 300px;
  background-color: #e1d4c9;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay .loader {
  justify-content: center;
}

@keyframes rotateBean {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
