.registration {
      display: flex;
    justify-content: center;
}

.registration .container-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: center;
}