.input-radio-pay-by{
       display: flex;
  flex-direction: column;
  gap: 18px;
}

.radio-container {
     display: flex;
  flex-direction: row;
  gap: 24px;
}

.radio-option {
  display: flex;

  align-items: center;
  gap: 12px;
  cursor: pointer;
  font-size: 14px;
  position: relative;
}

.radio-option input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.custom-radio {
  width: 16px;
  height: 16px;
  border: 1px solid #665F55;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;
  box-sizing: border-box;
}

.custom-radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border: 6px solid #665F55;
  /* background: #665F55; */
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease;
   box-sizing: border-box;
}


/* .radio-option input[type="radio"]:checked + .custom-radio {
  border-color: #007bff;
} */

.radio-option input[type="radio"]:checked + .custom-radio::after {
  transform: translate(-50%, -50%) scale(1);
}


/* .radio-option:hover .custom-radio {
  border-color: #007bff;
} */

/* .radio-option input[type="radio"]:focus + .custom-radio {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
} */
