.button-menu {
    align-self: center;
    width: 72px;
    height: 28px;
    background-color: inherit;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
}

.button-menu-text {
    align-self: center;
    justify-self: center;
}

.button-menu-icon {
    height: 20px;
    width: 20px;
    background-image: url('../../public/coffee-cup.svg');
    background-repeat: none;
    justify-self: right;
}



.button-burger {
    width: 44px;
    height: 44px;
    background-color: #E1D4C9;
    box-sizing: border-box;
    border-radius: 100%;
    border: 1px solid #665F55;
    align-self: center;
}

.button-offer, .button-offer-ma-app-store, .button-offer-ma-google-play {
    width: 200px;
    height: 64px;
    background-color: #E1D4C9;
    border: none;
    border-radius: 100px;
}

.button-offer {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: flex-start;
}

.button-offer-icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url('../../public/coffee-cup.svg');
    background-repeat: none;
    justify-self: right;
}

.button-slider-left, .button-slider-right {
    padding: 0;
    width: 60px;
    height: 60px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #665F55;
    align-self: center;
}

.button-slider-left-icon, .button-slider-right-icon {
    height: 24px;
    width: 24px;
    background-image: url(../../public/slider/arrow-right.svg);
}

.button-slider-left-icon {
    transform:rotate(180deg)
}

.button-offer-ma-app-store, .button-offer-ma-google-play {
    border: 1px solid #665F55;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    padding-left: 20px;
    align-items: center;
    gap: 8px;
    
}

.offer-ma-buttons .button-offer-ma-app-store-text , .offer-ma-buttons .button-offer-ma-google-play-text {
  /* align-self:first baseline */
  display: flex;
  flex-direction: column;
  gap: 2px;

}

/* .offer-ma-buttons .button-offer-ma-app-store-text br, .offer-ma-buttons .button-offer-ma-google-play-text br {
    height: 0px;
} */

.button-offer-ma-app-store-icon, .button-offer-ma-google-play-icon {
    width: 36px;
    height: 36px;
}

.button-offer-ma-app-store-icon {
    background-image: url('../../public/mobile-app/apple.svg');
}

.button-offer-ma-google-play-icon {
    background-image: url('../../public/mobile-app/google-play.svg');
}


@media (max-width: 500px){
    .button-slider-left, .button-slider-right {
        display: none;
    }
}




