.button-menu {
  align-self: center;
  width: 72px;
  height: 28px;
  background-color: inherit;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  gap: 8px;
}

.button-menu-text {
  align-self: center;
  justify-self: center;
}

.button-menu-icon {
  height: 20px;
  width: 20px;
  background-image: url('../../public/coffee-cup.svg');
  background-repeat: none;
  justify-self: right;
}

.button-burger {
  width: 44px;
  height: 44px;
  background-color: #e1d4c9;
  box-sizing: border-box;
  border-radius: 100%;
  border: 1px solid #665f55;
  align-self: center;
}

.button-offer,
.button-offer-ma-app-store,
.button-offer-ma-google-play {
  width: 200px;
  height: 64px;
  background-color: #e1d4c9;
  border: none;
  border-radius: 100px;
}

.button-offer {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: flex-start;
}

.button-offer-icon {
  display: inline-block;
  height: 20px;
  /* width: 20px; */
  width: 0px;
  background-image: url('../../public/coffee-cup.svg');
  background-repeat: none;
  justify-self: right;
  opacity: 0;
  transition:
    width 0.3s ease,
    opacity 0.3s ease;
}

.button-slider-left,
.button-slider-right,
.button-load {
  padding: 0;
  width: 60px;
  height: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #665f55;
  align-self: center;
}

.button-slider-left-icon,
.button-slider-right-icon {
  height: 24px;
  width: 24px;
  background-image: url(../../public/slider/arrow-right.svg);
}

.button-load {
  display: none;
  background-image: url(../../public/menu/load.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.button-load.hidden {
  display: none;
}
.button-slider-left-icon {
  transform: rotate(180deg);
}

.button-offer-ma-app-store,
.button-offer-ma-google-play {
  border: 1px solid #665f55;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  padding-left: 20px;
  align-items: center;
  gap: 8px;
}

.offer-ma-buttons .button-offer-ma-app-store-text,
.offer-ma-buttons .button-offer-ma-google-play-text {
  /* align-self:first baseline */
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.button-offer-ma-app-store-icon,
.button-offer-ma-google-play-icon {
  width: 36px;
  height: 36px;
}

.button-offer-ma-app-store-icon {
  background-image: url('../../public/mobile-app/apple.svg');
}

.button-offer-ma-google-play-icon {
  background-image: url('../../public/mobile-app/google-play.svg');
}

.button-add-to-cart {
  width: 100%;
  height: 44px;
  border: 1px solid #665f55;
  box-sizing: border-box;
  background-color: #e1d4c9;
  border-radius: 100px;
}

.button-close-modal {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #c1b6ad;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  align-self: flex-end;
  position: absolute;
  top: -44px;
}

.button-close-modal-text {
  position: relative;
  width: 16px;
  height: 16px;
}

.button-close-modal-text .line-1,
.button-close-modal-text .line-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 1.5px;
  background-color: #c1b6ad;
  transform-origin: center;
}

.button-close-modal-text .line-1 {
  transform: translate(-50%, -50%) rotate(45deg);
}

.button-close-modal-text .line-2 {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.button-cart {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border: none;
  padding: 0;
  align-self: center;
  height: 38px;
  /* margin-right: 32px; */
}

.button-cart .button-cart-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: fit-content;
  opacity: 1;
}

.button-cart .button-cart-text.button-cart-text-hidden {
  opacity: 0;
}

.button-cart .cart-icon {
  background-image: url('../../public/cart/shopping-bag.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  width: 20px;
  /* margin-bottom: 4px; */
}

.button-cart .cart-quantity {
  margin: 0;
}

.button-remove-from-cart {
  width: 24px;
  height: 24px;
  align-self: center;
  border: none;
  background-color: transparent;
  padding: 0;
}

.button-remove-from-cart-icon {
  display: block;
  width: inherit;
  height: inherit;
  background-image: url('../../public/cart/trash.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.button-confirm,
.button-sign-in,
.button-registration,
.button-sign-in-request,
.button-registration-request,
.button-save,
.button-cancel,
.button-log-out {
  width: 200px;
  height: 44px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #665f55;
  border-radius: 100px;
}

.button-registration-request:disabled,
.button-sign-in-request:disabled,
.button-save:disabled,
.button-cancel:disabled {
  pointer-events: none;
  color: #403f3d68;
}

.button-profile {
  width: 38px;
  height: 38px;
  align-self: center;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.button-profile .button-profile-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../public/header/profile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.button-edit {
  width: 56px;
  height: 56px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}

.button-edit .button-edit-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../../public/profile/pencil.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.button-save,
.button-cancel,
.button-log-out {
  min-width: 150px;
  width: fit-content;
}

@media (max-width: 768px) {
  .button-menu {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  .button-menu-text {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
  }

  .button-menu-icon,
  .button-cart .cart-icon {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .button-cart {
    margin: 0;
  }

  .button-cart .cart-icon {
    margin-top: 20px;
  }

  .button-cart .button-cart-text {
    gap: 16px;
    width: 130px;
    justify-content: space-between;
  }

  .button-cart .button-cart-text .cart-title {
    margin: 0;
    margin-top: 20px;
    align-self: center;
    justify-self: center;
  }

  .button-offer .button-offer-icon {
    width: 20px;
    opacity: 1;
  }

  .button-load {
    display: block;
  }
}

@media (max-width: 500px) {
  .button-slider-left,
  .button-slider-right {
    display: none;
  }
}

@media (hover: hover) and (pointer: fine) {
  .item,
  .button-menu {
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
  }

  .item::after,
  .button-menu::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 0;
    background-color: #403f3d;
    transition: width 0.4s ease-in-out;
  }

  .button-menu:disabled {
    cursor: default;
  }

  .item:hover::after,
  .button-menu:not(:disabled):hover::after {
    width: 100%;
    left: 0;
    right: auto;
  }

  .tab-item:hover {
    background-color: #665f55;
    cursor: pointer;
  }

  .tab-item:hover .tab-icon {
    background-color: #e1d4c9;
  }

  .tab-item:hover .tab-text {
    color: #e1d4c9;
  }

  .button-offer:hover .button-offer-icon {
    width: 20px;
    opacity: 1;
  }

  .button-slider-left:hover,
  .button-slider-right:hover {
    background-color: #665f55;
  }

  .button-slider-left:hover .button-slider-left-icon {
    transform: rotate(180deg);
    background-image: url('../../public/slider/arrow-right-hover.svg');
  }

  .button-slider-right:hover .button-slider-right-icon {
    background-image: url('../../public/slider/arrow-right-hover.svg');
  }

  .button-offer-ma-app-store:hover,
  .button-offer-ma-google-play:hover {
    background-color: #665f55;
  }

  .button-offer-ma-app-store:hover .button-offer-ma-app-store-icon {
    background-image: url('../../public/mobile-app/apple-hover.svg');
  }

  .button-offer-ma-google-play:hover .button-offer-ma-google-play-icon {
    background-image: url('../../public/mobile-app/google-play-hover.svg');
  }

  .button-offer-ma-app-store:hover .button-offer-ma-app-store-text span,
  .button-offer-ma-google-play:hover .button-offer-ma-google-play-text span {
    color: #e1d4c9;
  }

  .social:hover {
    cursor: pointer;
    background-color: #e1d4c9;
  }

  .social:hover.twitter {
    background-image: url('../../public/socials/twitter-hover.svg');
  }

  .social:hover.instagram {
    background-image: url('../../public/socials/instagram-hover.svg');
  }

  .social:hover.facebook {
    background-image: url('../../public/socials/facebook-hover.svg');
  }

  .contact-info:hover,
  .contact-link:hover {
    box-sizing: border-box;
  }

  .contact-info:hover.pin-alt a,
  .contact-info:hover.phone a {
    border-bottom: 2px solid #e1d4c9;
  }

  .button-add-to-cart:hover,
  .button-sign-in:hover,
  .button-registration:hover,
  .button-confirm:hover,
  .button-save:hover,
  .button-cancel:hover,
  .button-log-out:hover {
    background-color: #665f55;
    color: #e1d4c9;
    transition: all 0.2s ease-in;
  }
}
