.product-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.product-extras {
  margin: 0;
}

@media (max-width: 675px) {
  .product-description .product-title {
    font-size: 20px;
  }
}
