

.favorite-title {
    text-align: center;
    letter-spacing: 2px;
}

.favorite-title span {
    display: inline-block;
    transform: skewX(-10deg)
}

.favorite .container-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}