.product-image-box {
  width: 100px;
  height: 100px;
}

.product-image {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

@media (max-width: 550px) {
  .product-image-box {
    display: none;
  }
}
