.total-block,
.address-block,
.pay-by-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.totla-price-block-cart {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}
