.input-block .input-block-city {
    position: relative;
    
}

.input-field {
    height: 56px;;
}

.registration .input-block  .dropdown-list {
  display: none;
  width: 100%;
  padding: 10px;;
}

.registration .input-block  .dropdown-list.show-list {
  position: absolute;
    top: 105%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    z-index: 1100;
    border-radius: 10px;
    background-color: #E1D4C9;
}

.dropdown-item {
    text-align: center;
    cursor: pointer;
}

.input-radio-pay-by {
    align-self:flex-start;
}

.show-list {
    box-shadow: 0px 0px 10px 1px  black;
}