.footer {
   max-width: 1440px;
   width: 100%;
   margin-top: 100px;
   margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.footer .container-section {
    display: flex;
    flex-direction: row;
    gap: 100px;
    border-radius: 40px;
     padding: 100px;
     box-sizing: border-box;
     align-items: center;
}