.offer-mobile-app {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 630px;
  width: 100%;
}

.offer-ma-title {
  text-align: left;
}

@media (max-width: 768px) {
  .mobile-app .offer-mobile-app {
    max-width: 100%;
    width: 100%;
  }
}
