.contact-info {
  display: flex;
  flex-direction: row;
  gap: 8px;
  background-repeat: no-repeat;
}

.contact-link {
  display: flex;
  flex-direction: row;
  gap: 8px;
  background-repeat: no-repeat;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
  gap: 20px;
  margin: 0;
}

.contact-icon {
  width: 20px;
  height: 20px;
}

.contact-pin-alt-icon {
  background-image: url('../../../../../public/contacts-info/pin-alt.svg');
}

.contact-phone-icon {
  background-image: url('../../../../../public/contacts-info/phone.svg');
}

.contact-clock-icon {
  background-image: url('../../../../../public/contacts-info/clock.svg');
}
