.product-price {
  width: fit-content;
  text-align: right;
}

.product-price-block {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: end;
  max-width: 200px;
  width: 100%;
}

@media (max-width: 675px) {
  .product-price-block .product-price,
  .product-price-block .unavaliable-price,
  .product-price-block .cart-card-price {
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .product-price-block {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
    max-width: 150px;
    width: 100%;
  }
}

@media (max-width: 435px) {
  .product-price-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 80px;
  }
}
