.content {
    /* max-width: 480px; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
     flex: 0 0 100%; 
     align-items: center;
}

.image-box {
    width: 480px;
    height: 480px;
}


.slider-info {
    max-width: 480px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.slide-description {
    margin: 0;
}