.offer-ma-buttons {
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: flex-start;
}

/* .button-offer-ma-google-play .button-offer-ma-google-play-text {
    justify-self: center;
} */

.offer-ma-buttons span {
    transform: skewX(0);
    font-style: normal;
}

.offer-ma-buttons span > :first-of-type {
   text-align: left;
}


@media (max-width: 500px){
    .offer-ma-buttons {
        flex-direction: column;
    }
}