.navigation {
  max-width: 1188px;
  width: 100%;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 40px;
  justify-content: center;
  padding: 0;
}

.item {
  width: max-content;
  padding-bottom: 4px;
}

.item-link {
  text-decoration: none;
  display: inline-block;
}

@media (max-width: 768px) {
  .navigation {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navigation-list {
    flex-direction: column;
    align-items: center;
    gap: 56px;
    width: 100%;
  }

  .navigation-list .item .item-link {
    font-size: 32px;
    font-weight: 600;
    line-height: 125%;
    vertical-align: top;
  }
}

@media (max-width: 600px) {
  .navigation-list {
    width: 348px;
  }
}
