.total-block {
    display: flex;
    justify-content: space-between;
}

.total-text, .total-price {
    display: inline-block;
    max-width: 646px;
    width: 100%;
}

.total-text {
    padding-left: 48px;
}

.total-price {
    text-align: right;
}